.page-banner{
  width: 100%;
  height: clamp(480px, 38vh, 420px);
  margin: 0 0 5px;
  position: relative;
  overflow: hidden;
  top: -50px;
}
.page-banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}