body {
    background-color: #fafafa;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #222;
    
}

.blog-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 60px 20px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 50px;

}

.posts-coluna {
    flex: 2;
    min-width: 300px;
}

.sidebar {
    flex: 1;
    min-width: 250px;
}

.post-completo {
    padding-bottom: 40px;
}

.post-container {
    max-width: 800px;
    width: 100%;
}

.post-img {
    width: 150px;
    height: 200px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.data {
    font-size: 13px;
    color: #888;
    display: block;
    margin-bottom: 8px;
}

.post-container h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 25px;
    line-height: 1.3;
    color: #111;
}

.conteudo-post {
    font-size: 16px;
    line-height: 1.8;
    color: #333;
}

.conteudo-post p {
    margin-bottom: 20px;
}

.conteudo-post ol {
    padding-left: 20px;
    margin-bottom: 20px;
}

.conteudo-post li {
    margin-bottom: 10px;
}

/* Sidebar */
.sidebar h2 {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.sobre-img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

.sidebar p {
    font-size: 14px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 10px;
}

.sidebar a {
    color: #d49ca4;
    font-size: 13px;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar hr {
    margin: 30px 0;
    border: none;
    border-top: 1px solid #ccc;
}

.icones-redes {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.icones-redes a {
    font-size: 22px;
    color: #d49ca4;
    transition: transform 0.2s ease;
}

.icones-redes a:hover {
    transform: scale(1.1);
    color: #000;
}

/* Responsivo */
@media screen and (max-width: 768px) {
    .blog-layout {
        flex-direction: column;
        align-items: center;
        padding: 40px 10px;
    }

    .post-container h1 {
        font-size: 24px;
    }

    .conteudo-post {
        font-size: 15px;
    }
}

.imagem-post {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    cursor: zoom-in;
}

.imagem-post:hover {
  transform: scale(1.5);
}

.galeria-bases {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px 0;
}


.galeria-bases {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px 0;
}


.galeria-bases img {
    width: 30%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}