.produtos-section {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    padding-bottom: 15px;
    margin-bottom: 50px;


}

.produtos-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 50px;
    color: #555;
    font-family: 'Maxima Nouva', sans-serif;
    font-weight: 400;

    margin-top: 37px;

}

.produtos-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

.produto-card {
    width: calc(25% - 20px);
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;


}

.produto-card img {
    width: 65%;
    border-radius: 10px;
    margin-bottom: 20px;

}


.produto-info {
    text-align: center;
    margin-top: 10px;
    flex: 1;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;

}

.produto-titulo {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #55555590;
    font-family: 'Onest', sans-serif;

}





.btn-adicionar {
    background-color: #ECAEA6;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
}

.btn-adicionar:hover {
    background-color: #dbc8c8;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  font-family: 'Onest', sans-serif;
}

.modal-conteudo-horizontal {
  display: flex;
  flex-direction: row;
  gap: 12px;
  background: #fff;
  padding: 60px;
  border-radius: 18px;
  max-width: 1000px;
  width: 800px;
  height: 600px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.25);
  position: relative;
}

.imagem-zoom-container {
  position: relative;
  overflow: visible;
  max-width: 45%;
  border-radius: 8px;
  cursor: zoom-in;
}

.imagem-zoom-container img {
  transition: transform 0.3s ease;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
} 

.imagem-zoom-container:hover img {
  transform: scale(1.5);
  cursor: zoom-out;
}

.modal-descricao {
  flex: 1;
  text-align: center;
}

.modal-descricao h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  font-family: 'MaximaNouva', sans-serif;
  font-weight: 700;
  text-align: center;

}

.modal-descricao p {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 30px;
  font-weight: 300;
}

.btn-consultar {
  background-color: #d49ca4;
  color: white;
  border: none;
  padding: 14px 26px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.3s ease;
  font-family: 'Onest', sans-serif;
  margin: auto;
}

.btn-consultar:hover {
  background-color: #c0888b;
}

.fechar {
  position: absolute;
  top: 20px;
  right: 25px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}




