<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <meta charset="UTF-8">
    <title>Blog GLAM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


</head>
{% include 'whatsapp.html' %}
<header class="header-blog">{% include 'header.html' %}</header>

<body>

<section class="blog-layout">
    <!-- COLUNA ESQUERDA (POSTS) -->
    <div class="posts-coluna">

    <section class="post-completo">
        <div class="post-container">
            <span class="data">{{ post.data }} • {{ post.leitura }} • {{ post.autor }}</span>
            <h1>{{ post.titulo }}</h1>
            <div class="conteudo-post">
                {{ post.conteudo | safe }}
            </div>
        </div>
    </section>

    </div>

    <!-- COLUNA DIREITA (SIDEBAR) -->
    <aside class="sidebar">
        <h2>SOBRE MIM</h2>
        <img src="{{ url_for('static', filename='images/foto-perfil-vannicy.png') }}" alt="Foto do autor" class="sobre-img">
        <p>Somos uma empresa especialista em extensões capilares com expert team de mercado há 12 anos.</p>
        <a href="{{ url_for('sobre') }}">Leia mais ></a>

        <hr>

        <h2>SIGA-ME</h2>
<div class="icones-redes">
  <a href="https://instagram.com/glamhairbrand" target="_blank"><i class="fab fa-instagram"></i></a>
  <a href="https://youtube.com/suacanal" target="_blank"><i class="fab fa-youtube"></i></a>
</div>
    </aside>
</section>
    <footer>{% include 'footer.html' %}</footer>
</body>
</html>
